body {
    margin: 0;
}
.navbar-brand img {
    width: 35px;
    height: 25px;
    padding-right: 15pxs;
}
.mapa {
    margin-top: 20px;
    margin-bottom: 20px;
}
.graficas h2 {
    text-align: center;
}
.graficas h3 {
    text-align: center;
}